<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found!</title>
    <!-- Bootstrap CSS for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

    <div class="container">
        <!-- Face illustration -->
        <div class="face">
            <div class="band">
                <div class="red"></div>
                <div class="white"></div>
                <div class="blue"></div>
            </div>
            <div class="eyes"></div>
            <div class="dimples"></div>
            <div class="mouth"></div>
        </div>

        <!-- Error message -->
        <h5 class="mt-2"><%=message%></h5>
        <h1><%=statusCode%></h1>

        <!-- Button to go back to home -->
        <a href="/" class="btn btn-primary btn-lg my-4 px-4 py-2">Return to Home</a>
    </div>
</body>
</html>
