<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Signup</h1>
    <form method="post" action="/signup">
        <input type="text" placeholder="username" name="user[username]">
        <input type="password" placeholder="password" name="user[password]">
        <input type="number" placeholder="contact" name="user[contact]">
        <input type="email" placeholder="email" name="user[email]">
        <button type="submit">Sign-up</button>
    </form>

</body>
</html>